In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql import Row
import pyspark.sql.functions as sf
appName= "hive_pyspark"
master= "local"

## create sparksession

In [4]:
from pyspark.sql import SparkSession

In [5]:
#spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
#spark

In [7]:
spark = SparkSession.builder.master(master).appName(appName).enableHiveSupport().getOrCreate()

22/03/23 12:00:39 WARN Utils: Your hostname, easebuzz-Inspiron-3501 resolves to a loopback address: 127.0.1.1; using 10.10.2.6 instead (on interface wlp0s20f3)
22/03/23 12:00:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/easebuzz/.local/lib/python3.7/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/23 12:00:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
df=spark.sql("show databases")
df.show()

22/03/23 12:00:43 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
22/03/23 12:00:43 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
22/03/23 12:00:46 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
22/03/23 12:00:46 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore easebuzz@127.0.1.1

+---------+
|namespace|
+---------+
|  default|
+---------+

In [9]:
datafile=spark.read.csv("/media/easebuzz/DATA/Code/raw_files/Rbl_processed.csv",header=True)
datafile.show(5)
#datafile.write.saveAsTable("test_table")

+----------------+----------+-----------------------+------------+---------+----------+--------------+---------+--------------------+--------------------+
|Transaction Date|Value Date|Transaction Discription|Referance No|Debit Amt|Credit Amt|   Running Bal|Bank-name|           file-name|       date_ingested|
+----------------+----------+-----------------------+------------+---------+----------+--------------+---------+--------------------+--------------------+
|01-12-2021 06:10|01-12-2021|   NEFT/000214522423...|        null|     3.72|      null|2,47,97,607.12| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522442...|        null|     7.46|      null|2,47,97,599.66| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522424...|        null|     11.2|      null|2,47,97,588.46| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522466...|        null| 3,000.00|      null|2,47,94,588.46| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522469...|        null|     11.2|      null|2,47,94,577.26| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
+----------------+----------+-----------------------+------------+---------+----------+--------------+---------+--------------------+--------------------+
only showing top 5 rows

In [10]:
#converting dataframe perticular column to a list
list1=([data[0] for data in datafile.select('Transaction Discription').collect()])

In [11]:

df2 = datafile.where(
    datafile['Transaction Discription'].rlike("|".join(["(" + pat + ")" for pat in list1]))
)

In [12]:
df2.show()

+----------------+----------+-----------------------+------------+-----------+----------+--------------+---------+--------------------+--------------------+
|Transaction Date|Value Date|Transaction Discription|Referance No|  Debit Amt|Credit Amt|   Running Bal|Bank-name|           file-name|       date_ingested|
+----------------+----------+-----------------------+------------+-----------+----------+--------------+---------+--------------------+--------------------+
|01-12-2021 06:10|01-12-2021|   NEFT/000214522423...|        null|       3.72|      null|2,47,97,607.12| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522442...|        null|       7.46|      null|2,47,97,599.66| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522424...|        null|       11.2|      null|2,47,97,588.46| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522466...|        null|   3,000.00|      null|2,47,94,588.46| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522469...|        null|       11.2|      null|2,47,94,577.26| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522445...|        null|      22.36|      null|2,47,94,554.90| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522471...|        null|      11.18|      null|2,47,94,543.72| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522474...|        null|      44.76|      null|2,47,94,498.96| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522477...|        null|       7.46|      null|2,47,94,491.50| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522447...|        null|      22.36|      null|2,47,94,469.14| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   RTGS/RATNH2133511...|        null|8,00,000.00|      null|2,39,94,469.14| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522473...|        null|       3.72|      null|2,39,94,465.42| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 06:10|01-12-2021|   NEFT/000214522490...|        null|      33.56|      null|2,39,94,431.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 07:03|01-12-2021|         133507009262-N|        null|         10|      null|2,39,94,421.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 07:08|01-12-2021|         133507010345-N|        null|         20|      null|2,39,94,401.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 07:35|01-12-2021|   133507027420-PAYMENT|        null|   7,000.00|      null|2,39,87,401.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 07:53|01-12-2021|   133507045381-PAYMENT|        null|        500|      null|2,39,86,901.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 07:59|01-12-2021|   133507049746-PAYMENT|        null|   1,000.00|      null|2,39,85,901.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 08:43|01-12-2021|   133508069096-PAYMENT|        null|   8,000.00|      null|2,39,77,901.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
|01-12-2021 08:46|01-12-2021|         133508070829-N|        null|        100|      null|2,39,77,801.86| RBL-Bank|s3://reconcilatio...|2022-03-11 19:17:...|
+----------------+----------+-----------------------+------------+-----------+----------+--------------+---------+--------------------+--------------------+
only showing top 20 rows

In [13]:
df2.dtypes

[('Transaction Date', 'string'),
 ('Value Date', 'string'),
 ('Transaction Discription', 'string'),
 ('Referance No', 'string'),
 ('Debit Amt', 'string'),
 ('Credit Amt', 'string'),
 ('Running Bal', 'string'),
 ('Bank-name', 'string'),
 ('file-name', 'string'),
 ('date_ingested', 'string')]

# --------------------------------------------------------------------------------------------------------------------------------

In [69]:
dfregset= spark.read.csv("/media/easebuzz/DATA/Code/raw_files/Source_regiment.csv",header=True)
dfregset.show()

+--------------------+--------+
|           Regiments|    Arms|
+--------------------+--------+
|      Assam regiment|infantry|
|     Garehwal rifles|infantry|
|   Rajputana rifles |infantry|
|     Rajput regiment|infantry|
|Maratha light inf...|infantry|
| Sikh light infantry|infantry|
|       Sikh regiment|infantry|
|       Para regiment|infantry|
| para special forces|infantry|
|     Signal regiment|    ENTC|
|       508 regiment |Mech-inf|
|     Madras Regiment|infantry|
|          Granediers|infantry|
+--------------------+--------+

In [15]:
dffilterset= spark.read.csv("/media/easebuzz/DATA/Code/raw_files/filter_reg.csv",header=True)
dffilterset.show()

+----------+
|filter_reg|
+----------+
|     Assam|
|  Garehwal|
|       508|
+----------+

In [16]:
fillist=([data[0] for data in dffilterset.select('filter_reg').collect()])
print(fillist)

['Assam', 'Garehwal', '508']

In [17]:
afterfil = dfregset.where(
    dfregset['Regiments'].rlike("|".join(["(" + pat + ")" for pat in fillist]))
)
afterfil.show()

+---------------+--------+
|      Regiments|    Arms|
+---------------+--------+
| Assam regiment|infantry|
|Garehwal rifles|infantry|
|  508 regiment |Mech-inf|
+---------------+--------+

In [18]:
dfregset.subtract(afterfil).show()

+--------------------+--------+
|           Regiments|    Arms|
+--------------------+--------+
|     Madras Regiment|infantry|
|     Signal regiment|    ENTC|
|          Granediers|infantry|
|   Rajputana rifles |infantry|
|       Sikh regiment|infantry|
|     Rajput regiment|infantry|
| Sikh light infantry|infantry|
| para special forces|infantry|
|Maratha light inf...|infantry|
|       Para regiment|infantry|
+--------------------+--------+

In [19]:
#dftest = dfregset.merge(afterfil, how = 'outer' ,indicator=True).loc[lambda x : x['merge']=='left_only']
#dftest = df1.merge(df2, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']

In [20]:
#diff_df = pd.merge(dfregset, afterfil, how='outer', indicator='Exist')

#diff_df = diff_df.loc[diff_df['Exist'] != 'both']

#df_diff = pd.concat([dfregset],afterfil).drop_duplicates(keep=False)

In [21]:
#dfregset=pd.concat[afterfil]

In [22]:
receipt = pd.read_excel("/media/easebuzz/DATA/Code/raw_files/receipt-14-03-2022-yespart A FINAL.xls")
print(receipt.head)

<bound method NDFrame.head of                       Date                                        Description  \
0               14/03/2022                                              Bin-1
1               14/03/2022                                              Bin-2
2               14/03/2022                                              Bin-3
3               14/03/2022                     UPI Transaction dtd 12/03/2022
4               14/03/2022                     UPI Transaction dtd 11/03/2022
5               14/03/2022                                             Yes NB
6               14/03/2022                                              Yes-1
7               14/03/2022                                              Yes-2
8               14/03/2022                                              Yes-3
9               14/03/2022                                              Yes-4
10              14/03/2022                                              Yes-5
11              14/03/2022                                              Yes-6
12              12/03/2022                      EASEBUZZ _P2M TCC_11032022_04
13              12/03/2022                       EASEBUZZ  PVT LT_11032022_10
14              12/03/2022                      EASEBUZZ _P2M TCC_10032022_06
15              12/03/2022                       EASEBUZZ  PVT LT_10032022_11
16              14/03/2022                                         ICICI NB-1
17              14/03/2022                                         ICICI NB-2
18              14/03/2022                                         ICICI NB-3
19              14/03/2022  RTGS Cr-ICIC0000104-CENTRAL LIABILITY OPERATIO...
20              14/03/2022  RTGS Cr-ICIC0000104-CENTRAL LIABILITY OPERATIO...
21              14/03/2022  RTGS Cr-ICIC0000104-CENTRAL LIABILITY OPERATIO...
22              14/03/2022                     UPI Transaction dtd 13/03/2022
23  03/11/2022 06:36:32 PM  UPI/207015440229/RL747MC7GC/From:m2mferries@ye...
24  03/11/2022 06:56:23 PM  UPI/207015476019/R0VIGIGQ7S/From:ameetparekhco...
25  03/13/2022 01:48:14 PM  UPI/207218814872/R0JGPE3XTM/From:m2mferries@ye...
26  03/13/2022 01:49:01 PM  UPI/207218815894/R8OPVDQGC1/From:m2mferries@ye...
27  03/13/2022 01:49:33 PM  UPI/207218816487/R2KABCG6YQ/From:m2mferries@ye...
28  03/13/2022 01:49:35 PM  UPI/207218816824/R6HMR2SU72/From:m2mferries@ye...
29                     NaN                                                NaN
30              14/03/2022                                              TOTAL

          Amount C.D.Flag  Total Yes Amount  Wire amount  Receipt Amount  \
0   7.956043e+06        C               NaN          NaN             NaN
1   4.237830e+06        C               NaN          NaN             NaN
2   4.357183e+06        C               NaN          NaN             NaN
3   9.577457e+07        C      9.858979e+07   2815227.00             NaN
4   8.850156e+07        C      9.069003e+07   2188467.43             NaN
5   4.185201e+05        C               NaN          NaN             NaN
6   1.105287e+07        C               NaN          NaN             NaN
7   1.109600e+07        C               NaN          NaN             NaN
8   7.543821e+06        C               NaN          NaN             NaN
9   8.445967e+06        C               NaN          NaN             NaN
10  4.609177e+06        C               NaN          NaN             NaN
11  6.508852e+06        C               NaN          NaN             NaN
12  5.700000e+02        C               NaN          NaN             NaN
13  9.069000e+03        C               NaN          NaN             NaN
14  3.720000e+02        C               NaN          NaN             NaN
15  3.010000e+03        C               NaN          NaN             NaN
16  2.515496e+06        C               NaN          NaN             NaN
17  1.499004e+06        C               NaN          NaN             NaN
18  2.308715e+06        C               NaN          NaN             NaN
19  3.515322e+06        C               NaN          NaN             NaN
20  3.571257e+06        C               NaN          NaN             NaN
21  4.240020e+06        C               NaN          NaN             NaN
22  7.461326e+07      NaN      7.799154e+07          NaN             NaN
23 -3.600000e+02        D      2.070154e+11          NaN             NaN
24 -3.998820e+04        D      2.070155e+11          NaN             NaN
25 -1.800000e+02        D      2.072188e+11          NaN             NaN
26 -3.600000e+02        D      2.072188e+11          NaN             NaN
27 -4.600000e+02        D      2.072188e+11          NaN             NaN
28 -4.600000e+02        D      2.072188e+11          NaN             NaN
29           NaN      NaN               NaN          NaN             NaN
30  3.427367e+08      NaN               NaN          NaN             NaN

    Merged Amount   Difference
0              NaN         NaN
1              NaN         NaN
2              NaN         NaN
3              NaN         NaN
4              NaN         NaN
5              NaN         NaN
6              NaN         NaN
7              NaN         NaN
8              NaN         NaN
9              NaN         NaN
10             NaN         NaN
11             NaN         NaN
12             NaN         NaN
13             NaN         NaN
14             NaN         NaN
15             NaN         NaN
16             NaN         NaN
17             NaN         NaN
18             NaN         NaN
19             NaN         NaN
20             NaN         NaN
21             NaN         NaN
22             NaN         NaN
23             NaN         NaN
24             NaN         NaN
25             NaN         NaN
26             NaN         NaN
27             NaN         NaN
28             NaN         NaN
29             NaN         NaN
30             NaN         NaN  >

# ------------------------------------------------------------------------------------------------------------------------

In [23]:
Yesstatements =spark.read.csv('/media/easebuzz/DATA/Code/Processed_files/bankstatements_test.csv',header=True)
Yesstatements.show()

+-------------------+--------------------+--------------------+
|   transaction_date|          value_date|            NOTATION|
+-------------------+--------------------+--------------------+
|2021-11-01 00:25:00|2021-10-30 18:30:...|R/UPI/13051309360...|
|2021-11-01 05:57:00|2021-10-31 18:30:...|R/UPI/13051309735...|
|2021-11-01 09:52:00|2021-10-31 18:30:...|RTGS/UTIBH2130521...|
|2021-11-01 12:29:00|2021-10-31 18:30:...|IMPS 130512021968...|
|2021-11-01 06:25:00|2021-10-31 18:30:...|R/UPI/13051309792...|
|2021-11-01 13:06:00|2021-10-31 18:30:...|UPI/130555786563/...|
|2021-11-01 15:16:00|2021-10-31 18:30:...|IMPS 130515581433...|
|2021-11-01 17:18:00|2021-10-31 18:30:...|    TR9E6B0CDD65724F|
|2021-11-01 18:08:00|2021-10-31 18:30:...|IMPS 130518852314...|
|2021-11-01 20:14:00|2021-10-31 18:30:...|NEFT/INDBN0111485...|
|2021-11-01 23:17:00|2021-10-31 18:30:...|IMPS 130523849594...|
|2021-11-02 11:31:00|2021-11-01 18:30:...|R-130611071368-RE...|
|2021-11-02 12:38:00|2021-11-01 18:30:...|    TR7E059CA211C041|
|2021-11-02 13:07:00|2021-11-01 18:30:...|R-130613047373-RE...|
|2021-11-01 15:02:00|2021-10-31 18:30:...|UPI/130515077389/...|
|2021-11-01 16:02:00|2021-10-31 18:30:...|NEFT/SBIN32130522...|
|2021-11-01 16:14:00|2021-10-31 18:30:...|RTGS/IBKLH2130560...|
|2021-11-02 18:59:00|2021-11-01 18:30:...|RTGS/ICICH2130614...|
|2021-11-02 19:55:00|2021-11-01 18:30:...|IMPS 130619650378...|
|2021-11-02 17:55:00|2021-11-01 18:30:...|RTGS/HDFCH2130619...|
+-------------------+--------------------+--------------------+
only showing top 20 rows

In [24]:
Utr =spark.read.csv("/media/easebuzz/DATA/Code/Processed_files/UtR_test.csv",header=True)
Utr.show(5)

+----------------+
|             UTR|
+----------------+
|    130513093601|
|    130513097355|
|UTIBH21305219225|
|    130512021968|
|    130513097925|
+----------------+
only showing top 5 rows

In [25]:
Utrlist=([data[0] for data in Utr.select('UTR').collect()])
print(Utrlist)

['130513093601', '130513097355', 'UTIBH21305219225', '130512021968', '130513097925', '130555786563', '130515581433', '130518852314', 'INDBN01114855660', '130523849594', '130611071368', '130613047373', 'SBIN321305229549', 'IBKLH21305600499', 'ICICH21306149418', '130619650378', 'HDFCH21306191224', '130622355229', '130513093616', '130513094584', '130513096509', '130509029235', '130509372224', '130710474439', 'N307211701074022', '130716067880', '130719049699', '130719050613', 'UTIBH21307245061', '130718510506', 'R-130718043751-REVERSAL-DP', 'IMPS 130719939340 FROM JUSTDIAL']

In [26]:
filtered_list=[]
for ele in Utrlist:
    if ele != None:
        filtered_list.append(ele)
print(filtered_list)

['130513093601', '130513097355', 'UTIBH21305219225', '130512021968', '130513097925', '130555786563', '130515581433', '130518852314', 'INDBN01114855660', '130523849594', '130611071368', '130613047373', 'SBIN321305229549', 'IBKLH21305600499', 'ICICH21306149418', '130619650378', 'HDFCH21306191224', '130622355229', '130513093616', '130513094584', '130513096509', '130509029235', '130509372224', '130710474439', 'N307211701074022', '130716067880', '130719049699', '130719050613', 'UTIBH21307245061', '130718510506', 'R-130718043751-REVERSAL-DP', 'IMPS 130719939340 FROM JUSTDIAL']

In [39]:
afterfil = Yesstatements.where(
    Yesstatements['NOTATION'].rlike("|".join(["(" + pat + ")" for pat in filtered_list]))
)

In [28]:
unmatched=Yesstatements.subtract(afterfil)

In [29]:
afterfil= afterfil.withColumn('Status', sf.lit('Matched'))

In [30]:
unmatched= unmatched.withColumn('Status', sf.lit('Unmatched'))

In [31]:
unmatched.show()

+-------------------+--------------------+--------------------+---------+
|   transaction_date|          value_date|            NOTATION|   Status|
+-------------------+--------------------+--------------------+---------+
|2021-11-09 17:32:00|2021-11-08 18:30:...|RTGS/IDFBH2131355...|Unmatched|
|2021-11-19 15:53:00|2021-11-18 18:30:...|UPI/132377504949/...|Unmatched|
|2021-11-05 20:27:00|2021-11-04 18:30:...|IMPS 130920591776...|Unmatched|
|2021-11-13 19:11:00|2021-11-12 18:30:...|IMPS 131719977880...|Unmatched|
|2021-11-01 19:25:00|2021-10-31 18:30:...|IMPS 130519185896...|Unmatched|
|2021-11-06 18:36:00|2021-11-05 18:30:...|RTGS/BCBMH2131073...|Unmatched|
|2021-11-03 19:40:00|2021-11-02 18:30:...|R-130719068598-RE...|Unmatched|
|2021-11-11 20:34:00|2021-11-10 18:30:...|RTGS/IDFBH2131556...|Unmatched|
|2021-11-02 13:23:00|2021-11-01 18:30:...|IMPS 130613116845...|Unmatched|
|2021-11-15 12:20:00|2021-11-14 18:30:...|IMPS 131912819043...|Unmatched|
|2021-11-12 10:47:00|2021-11-11 18:30:...|R-131610034065-RE...|Unmatched|
|2021-11-03 13:10:00|2021-11-02 18:30:...|IMPS 130713379825...|Unmatched|
|2021-11-25 13:31:00|2021-11-24 18:30:...|NEFT/N32921172550...|Unmatched|
|2021-11-08 15:23:00|2021-11-07 18:30:...|IMPS 131215502717...|Unmatched|
|2021-11-11 14:02:00|2021-11-10 18:30:...|NEFT/IBKL21111170...|Unmatched|
|2021-11-01 13:07:00|2021-10-31 18:30:...|NEFT/N30521169608...|Unmatched|
|2021-11-10 17:58:00|2021-11-09 18:30:...|IMPS 131417166381...|Unmatched|
|2021-11-11 15:04:00|2021-11-10 18:30:...|    TR440FC42645594D|Unmatched|
|2021-11-24 19:07:00|2021-11-23 18:30:...|NEFT/000213218681...|Unmatched|
|2021-11-01 14:11:00|2021-10-31 18:30:...|IMPS 130514515729...|Unmatched|
+-------------------+--------------------+--------------------+---------+
only showing top 20 rows

In [32]:
afterfil.show()

+-------------------+--------------------+--------------------+-------+
|   transaction_date|          value_date|            NOTATION| Status|
+-------------------+--------------------+--------------------+-------+
|2021-11-01 00:25:00|2021-10-30 18:30:...|R/UPI/13051309360...|Matched|
|2021-11-01 05:57:00|2021-10-31 18:30:...|R/UPI/13051309735...|Matched|
|2021-11-01 09:52:00|2021-10-31 18:30:...|RTGS/UTIBH2130521...|Matched|
|2021-11-01 12:29:00|2021-10-31 18:30:...|IMPS 130512021968...|Matched|
|2021-11-01 06:25:00|2021-10-31 18:30:...|R/UPI/13051309792...|Matched|
|2021-11-01 13:06:00|2021-10-31 18:30:...|UPI/130555786563/...|Matched|
|2021-11-01 15:16:00|2021-10-31 18:30:...|IMPS 130515581433...|Matched|
|2021-11-01 18:08:00|2021-10-31 18:30:...|IMPS 130518852314...|Matched|
|2021-11-01 20:14:00|2021-10-31 18:30:...|NEFT/INDBN0111485...|Matched|
|2021-11-01 23:17:00|2021-10-31 18:30:...|IMPS 130523849594...|Matched|
|2021-11-02 11:31:00|2021-11-01 18:30:...|R-130611071368-RE...|Matched|
|2021-11-02 13:07:00|2021-11-01 18:30:...|R-130613047373-RE...|Matched|
|2021-11-01 16:02:00|2021-10-31 18:30:...|NEFT/SBIN32130522...|Matched|
|2021-11-01 16:14:00|2021-10-31 18:30:...|RTGS/IBKLH2130560...|Matched|
|2021-11-02 18:59:00|2021-11-01 18:30:...|RTGS/ICICH2130614...|Matched|
|2021-11-02 19:55:00|2021-11-01 18:30:...|IMPS 130619650378...|Matched|
|2021-11-02 17:55:00|2021-11-01 18:30:...|RTGS/HDFCH2130619...|Matched|
|2021-11-02 22:43:00|2021-11-01 18:30:...|IMPS 130622355229...|Matched|
|2021-11-01 00:26:00|2021-10-30 18:30:...|R/UPI/13051309361...|Matched|
|2021-11-01 01:00:00|2021-10-30 18:30:...|R/UPI/13051309458...|Matched|
+-------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [33]:
print((afterfil.count(), len(afterfil.columns)))

(32, 4)

In [34]:
print((unmatched.count(), len(unmatched.columns)))

(168, 4)

In [35]:
print((Yesstatements.count(), len(Yesstatements.columns)))

(200, 3)

# ---------------------------------------------------------------------------------------------------------------------------------

In [36]:
#Yesstatements.withColumn("MATCHING",col("NOTATION").rlike(filtered_list.mkString("|"))).show(truncate = false)

In [37]:
#Yesstatements.withColumn("contains_cat_or_dog",col("phrase").rlike(animals.mkString("|"))).show(truncate = false)

# ------------------------------------------------------------------------------------------------------------------------------

In [40]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [41]:
data2 = [("James","","Smith","36636","M",3000,3000),
    ("Michael","Rose","","40288","M",4000,4500),
    ("Robert","","Williams","42114","M",4000,4000),
    ("Maria","Anne","Jones","39192","F",4000,3500),
    ("Jen","Mary","Brown","","F",-1,4000)
  ]

In [52]:
schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", StringType(), True), \
    StructField("refnum",StringType(), True) \
  ])

In [53]:
testdf=spark.createDataFrame(data2,schema=schema)

In [55]:
testdf.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- refnum: string (nullable = true)

In [59]:
#testdf.show(truncate=False)